<ion-header>
  <ion-toolbar color="primary">
          <ion-buttons slot="start">
              <ion-back-button>
          </ion-back-button>
            </ion-buttons>
        <ion-title>resultados</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
       
      <ion-label color="light">Tu EPE1 es: {{epe1}}</ion-label><br><br>

     
      <ion-label color="light">Tu EPE2 es: {{epe2}}</ion-label><br><br>
     
     
      <ion-label color="light">Tu EPE3 es: {{epe3}}</ion-label><br><br>
     
     
      <ion-label color="light">Tu EVA1 es: {{eva1}}</ion-label><br><br>
     
       
      <ion-label color="light">Tu EVA2 es: {{eva2}}</ion-label><br><br>


      <ion-label color="light">Tu EVA3 es: {{eva3}}</ion-label><br><br>


      <ion-label color="light">Tu EX es: {{ex}}</ion-label><br><br>
     
     
      <ion-label color="light">{{mens}}<br>{{mens1}}{{mens2}}{{mens3}}</ion-label><br>
     
       
        <ion-label color="light">Tu Nota de presentacion es: <br>
          {{prom | number:"1.0-1"}}</ion-label><br><br>
       

        
            <ion-label color="light">Nota Que Necesitas Para Aprobar:<br>
            {{a | number:"1.0-1"}}<br>
            {{prueba}}{{b}}<br>{{c}}
            </ion-label> 
         
        
    </ion-content>