<ion-header>
    
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button
            [text]="buttonText">
        </ion-back-button>
          </ion-buttons>
      <ion-title>resultadouno</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-item>
    <ion-label>Tu EPE1 es: {{epe1}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Tu EPE2 es: {{epe2}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Tu EPE3 es: {{epe3}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Tu EVA1 es: {{eva1}}</ion-label>
  </ion-item>
  <ion-item>  
    <ion-label>Tu EVA2 es: {{eva2}}</ion-label>
  </ion-item>
  <ion-item>  
      <ion-label>Tu Examen es: {{exa}}</ion-label>
    </ion-item>
  <ion-item>  
      <ion-label>Tu Nota de presentacion es: <br>
        {{prom | number:"1.0-1"}}</ion-label>
    </ion-item>
      <ion-item>
      <ion-label>Tu promedio final es: <br>
        {{prueba | number:"1.0-1"}}<br>
      {{z}}</ion-label>
    </ion-item>
  </ion-content>