<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      IpChile
    </ion-title>
    <ion-buttons slot="secondary">
        <ion-button (click)="acercade()">
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
       </ion-buttons>
      <ion-buttons slot="primary">
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
<br><br><br>
  <ion-button color="primary" expand="block" (click)="hr1()">32 HRS</ion-button>
  <br><br>
    <ion-button color="primary" expand="block" (click)="hr2()">64 HRS</ion-button>
    <br><br>
      <ion-button color="primary" expand="block"(click)="hr3()">96 HRS</ion-button>
      <br><br>
        <ion-button color="primary" expand="block" (click)="hr4()">128 HRS</ion-button>

    
</ion-content>